.navbar {
  
  background-color: #23232a;
  color: gray;
  min-height: 70px;
  .logo {
    color: gray;
    text-transform: uppercase;
    &:hover{
      color: gray;
    }
  }
  .item-menu{
    font-size: 18px;
    text-transform: uppercase;
    color: gray;
  }
  .item{
    color: gray;
    text-transform: uppercase;
    font-size: 18px;
    
    &:hover{
      padding: 5px;
      background-color: #82d3c9;
      color: white;
     
    }
  }
  
}

#basic-nav-dropdown{
  color: gray;
  &:hover{
    color: white;
  }
}
